// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$black: #151515;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #5d1d59;
$purple-light: #792d71;
$pink: #dca99f;
$red: #e3342f;
$orange: #f6993f;
$yellow: #FBB040;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$grey: #e0e0e0;
