// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Cookie');


// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import 'templates/footer';
@import 'templates/slider';
@import 'templates/navbar';
@import 'templates/review';
@import 'templates/about';
@import 'templates/contact';
@import 'templates/team';

@import 'global';

@font-face {
	font-family: "Castelar";
	src: url("/fonts/Castelar.ttf") format("truetype"),
}

@font-face {
	font-family: "Gloss and Bloom";
	src: url("/fonts/Gloss_And_Bloom.ttf")
}
html {
  scroll-behavior: smooth;
}

html, body {
	width:100%;
}

body {
	font-size: 16px;
	line-height: 24px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
  color: $black;
  background-color: $body-bg-white;
}

a {
    color: $white;
    transition: color 0.5s;

    &:hover {
        text-decoration: none;
        color: $yellow;
    }
}

.header {
	height: 100vh;
}

.wrapper {
	height: stretch;
}

.section {
	padding: 100px 0;
  &__title {
    h2 {
      font-size: 30px;
      font-weight: 600;
      position: relative;
      margin-bottom: 10px;
			text-transform: uppercase;
			@include media-breakpoint-up(lg) {
				font-size: 36px;
			}
    }
    margin-bottom: 45px;
  }
}
#service {
	.service {
	  &__content {
			min-height: 40vh;
			transition: 0.5s outline ease;
	    .service-title {
					color: $yellow;
					@extend .font-family--cursive;
	        text-transform: uppercase;
	        transition: 0.5s color ease-in;
					font-size: 30px;
	  	}
			.service-price {
				text-transform: uppercase;
				letter-spacing: 2px;
				font-weight: 300;
			}
			&:hover {
				outline: 3px solid $yellow;
				outline-offset: -30px;
			}
	  }
	}
	.slick-slide {
		&:nth-of-type(odd) {
			.service__content {
				background: $white;
			}
			.service-price {
				color: $black;
			}
		}
		&:nth-of-type(even) {
			.service__content {
				background: $black;
			}
			.service-price {
				color: $white;
			}
		}
	}
}

.quote {
	&:before {
		content: open-quote;
		right: 5px;
	}
	&:after {
		content: close-quote;
		left: 5px;
	}
	&:before, &:after {
		font-size: 64px;
		position: relative;
		top: 30px;
		line-height: 0;
	}
}
.button-small {
    padding: 0 20px;
    height: 36px;
    line-height: 34px;
    display: inline-block;
    transition: background-color 1s, color 1s;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#map {
	color: $black;
}

#preloader {
	position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: $black;

	img {
		top: 25%;
		position: relative;
		transform: translateY(-50%);
		transform-origin: center;
		animation: logo 1s ease-in-out infinite alternate;
	}
}

.btn-deal {
    position: fixed;
    top: 0;
    right: 5vw;
    z-index: 99999;
    padding: 8px;
    background: $white;
    color: $yellow;
    border-radius: 0 0 4px 4px;
    cursor: pointer;
    ion-icon {
        vertical-align: middle;
        display: inline-block;
    }
}

.modal-body {
    color: $black;
}

.modal-footer {
    justify-content: center;
    border-top: 0;
}

.modal-header {
    border-bottom: 0;
    .close {
        border: 2px solid $black;
        color: $black;
        border-radius: 50%;
        padding: 0;
        margin: 0 0 0 auto;
        height: 28px;
        width: 28px;
        line-height: 26px;
    }
}

@keyframes logo {
	0% {
		transform: scale(0.5);
	}
	100% {
		transform: scale(0.7)
	}
}

.slick-dots {
	cursor: pointer;
	margin-top: 5vh;
	list-style: none;
	display: flex;
	justify-content: center;
	margin-top: 20px;
	margin-left: 0;
	margin-right: 0;
	padding: 0;
	li {
		float: left;
	}

	.slick-active {
		.review-dot {
			background-color: #5e5e5e;
		}
	}

	.review-dot {
		background-color: #c9c9c9;
		border-radius: 3em;
		box-sizing: border-box;
		height: 10px;
		margin: 0 6px;
		width: 10px;
	}
}
