// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Cookie');


// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import 'templates/footer';
@import 'templates/slider';
@import 'templates/navbar';
@import 'templates/review';
@import 'templates/about';
@import 'templates/contact';

@font-face {
	font-family: "Castelar";
	src: url("/fonts/Castelar.ttf") format("truetype"),
}
html {
  scroll-behavior: smooth;
}

html, body {
	width:100%;
}

body {
	font-size: 16px;
	line-height: 24px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
    color: $white;
}

a {
    color: $white;
    transition: color 0.5s;

    &:hover {
        text-decoration: none;
        color: $yellow;
    }
}

.wrapper {
	height: stretch;
}

.header, .page-content {
	position: relative;
}

.header {
	z-index: 2;
}

.page-content {
	z-index: 1;
	top: -25vh;
}

.section {

  &__title {
    h2 {
      font-size: 30px;
      font-weight: 600;
      position: relative;
      margin-bottom: 10px;
			text-transform: uppercase;
			@include media-breakpoint-up(lg) {
				font-size: 36px;
			}
    }
    &--cursive {
      color: $purple;
      display: inline-block;
      font-family:  "Castelar", serif;
      font-size: 20px;
      margin-bottom: 10px;
    }
    margin-bottom: 45px;
  }
}
#service {
	min-height: 100vh;
}
.service {
	&:hover {
		.service__content {
			background-color: $black;
			.service-title {
				color: $yellow;
			}
		}
	}
  &__content {
		transition: 0.5s background-color ease;
      .service-title {
          font-size: 20px;
					text-transform: uppercase;
					transition: 0.5s color ease-in;
      }
  }
}

.round-decor {
	background-image: url(/img/bg/bg-image-1.png);
  background-size: 100%;
  background-position: bottom center;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
	height: stretch;
  top: -25vh;
}

.quote {
	&:before {
		content: open-quote;
		right: 5px;
	}
	&:after {
		content: close-quote;
		left: 5px;
	}
	&:before, &:after {
		font-size: 64px;
		position: relative;
		top: 30px;
		line-height: 0;
	}
}


.bg-color {
  &--black {
    background-color: rgba($black, 0.7);
		&-light {
			background-color: lighten($black, 5%);
		}
  }
  &--white {
    background-color: $white;
  }
  &--purple {
    background-color: $purple;
  }
	&--purple-light {
		background-color: $purple-light;
	}
}
.text-color {
  &--white {
    color: $white;
    * {
      color: $white;
    }
  }
  &--pink {
    color: $pink
  }
}

.button {
    padding: 0 25px;
    @include media-breakpoint-up(lg) {
        padding: 0 40px;
    }
    height: 60px;
    margin: 0 10px;
    line-height: 57px;
    display: inline-block;
    transition: background-color 1s, color 1s;
    text-transform: uppercase;
    letter-spacing: 1px;
    &--purple {
        border: 2px solid $purple;
        color: $white;
        background-color: $purple;
        &:hover {
            background: transparent;
            color: $purple;
        }
    }
		&--purple-light {
				border: 2px solid $purple-light;
				color: $white;
				background-color: $purple-light;
				&:hover {
						background: transparent;
						color: $purple-light;
				}
		}
    &--regular {
        border: 2px solid $black;
        color: $white;
        background-color: $black;
        &:hover {
            background: transparent;
            color: $black;
        }
    }
    &--yellow {
        border: 2px solid $yellow;
        color: $white;
        background-color: $yellow;
        &:hover {
            background: transparent;
            color: $yellow;
        }
    }
    &--transparent-purple, &--transparent-black {
        border: 2px solid $white;
        color: $white;
        background-color: transparent;
        &:hover {
            background: $white;
        }
    }
    &--transparent-purple {
        &:hover {
            color: $purple
        }
    }
    &--transparent-black {
        &:hover {
            color: $black;
        }
    }
}

.button-small {
    padding: 0 20px;
    height: 36px;
    line-height: 34px;
    display: inline-block;
    transition: background-color 1s, color 1s;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#map {
	color: $black;
}
