@import 'variables';
@import '~bootstrap/scss/bootstrap';

@import 'templates/navbar';

@import 'global';




body {
    background-color: $black !important;
}


.menu-header {
  position: relative;
  height: 100vh;
  @include media-breakpoint-up(lg) {
    height: 80vh;
  }

  .menu-title {
    color: $yellow;
    font-size: 18px;
    @extend .font-family--cursive;

    @include media-breakpoint-up(lg) {
      font-size: 32px;
    }
  }

  .menu-name {
    white-space: nowrap;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 12px;
    text-transform: uppercase;
    font-size: 24px;
    @extend .font-family--normal;
    color: $white;
    @include media-breakpoint-up(lg) {
      line-height: 130px;
      font-size: 85px;
    }
  }
  .menu-header-content {
    background-image: url('img/bg/bg-image-6.jpg');
    background-size: cover;
    &:after {
      @extend .bg-color--overlay;
    }
    div {
      z-index: 1;
    }
  }
}

.menu {
  background-color: white;
  @include media-breakpoint-up(lg) {
    padding: 10vh 0;
  }
  @include media-breakpoint-up(md) {
    padding: 5vh 0;
  }
  &__item {
      margin: 5vh 0;
  }
}

.menu-selector {
  background: #F7F8F9;
  height: 20vh;
}
.category {
    &__name {
        text-transform: uppercase;
    }
}

.service-item, .sub-service-item {
    &__header {
        display: flex;
        &::after {
            content: "";
            border-bottom: 1px solid;
            flex-grow: 1;
            order: 2;
            position: relative;
            top: -0.75rem;
        }
    }
    &__name {
        order: 1;
    }
    &__price {
        order: 3;
    }
}
.sub-service-item {
    margin-left: 4%;
    display: list-item;
}
