@import 'variables';
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/_breakpoints";

body {
    background-color: $black !important;
}
.menu {
    padding: 10vh 0;
    min-height: 100vh;
    &__item {
        margin: 5vh 0;
    }
}
.category {
    &__name {
        font-size: 32px;
        @include media-breakpoint-up(lg) {
          font-size: 48px;
        }
        font-family: "Castelar", serif;
        color: $pink;
        text-transform: uppercase;
    }
}

.sub-category {
    &__name {
        font-family: 'Montserrat', sans-serif;
    }
}

.service-item, .sub-service-item {
    &__header {
        font-family: 'Montserrat', sans-serif;
        display: flex;
        &::after {
            content: "";
            border-bottom: 1px solid;
            flex-grow: 1;
            order: 2;
            position: relative;
            top: -0.75rem;
        }
    }
    &__name {
        order: 1;
    }
    &__price {
        order: 3;
    }
}
.sub-service-item {
    margin-left: 4%;
    display: list-item;
}
.navbar {
    @include media-breakpoint-up(lg) {
      position: unset;
      transform: none;
    }
    .nav-item {
        a {
          color: $black;
          @include media-breakpoint-up(lg) {
              color: $white;
          }
        }
    }
}
