
#about {
  position: relative;
  background-image: url('/images/bg/about-bg.jpg');
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;

  .section__content {
    overflow-y: auto;
    max-height: 50vh;
  }
  .about-content {
    font-size: 16px;
    line-height: normal;
    letter-spacing: 2px;
    padding: 0 5px;
    outline: none;
  }
}
