.navbar {
    position: fixed;
    @include media-breakpoint-up(lg) {
        position: absolute;
        top: 5vh;
        background: none;
    }
    background-color: $body-bg-white;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    .nav-item {
        margin: 0 20px;
        a {
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 300;
            @extend .font-family--normal;
            letter-spacing: 2px;
            position: relative;
            color: $black;

            @include media-breakpoint-up(lg) {
              letter-spacing: 4px;
              font-size: 18px;
            }
            &:hover {
                color: $yellow;
            }
            @include media-breakpoint-up(lg) {
                color: $white;
                &:before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 3px;
                    bottom: 0;
                    left: 0;
                    background-color: $yellow;
                    visibility: hidden;
                    transform: scaleX(0);
                    transition: all 0.3s ease-in-out 0s;
                }
                &:hover:before {
                    visibility: visible;
                    -webkit-transform: scaleX(1);
                    transform: scaleX(1);
                }
            }
        }
    }
    .navbar-collapse {
        .nav-item {
          margin-left: 20px;
          padding: 10px 0;
          &:not(:last-of-type) {
            border-bottom: 1px solid $black;
          }
          font-weight: 300;
          @include media-breakpoint-up(lg) {
            border: none !important;
          }
        }
      @include media-breakpoint-up(lg) {
          background: transparent;
          border: 0;
          .nav-item {
            padding: 0;
          }
      }
    }
    .navbar-toggler {
        top: 0;
        z-index: 1;
        cursor: pointer;
        .navbar-toggler-icon {
            display: inline-block;
            width: 34px;
            height: 27px;
            vertical-align: middle;
            content: "";
            background: no-repeat center center;
            background-size: 100% 100%;
            background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
        }
    }
}
