.navbar {
    position: fixed;
    @include media-breakpoint-up(lg) {
        position: absolute;
    }
    top: 5vh;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    .nav-item {
        margin: 0 20px;
        a {
            font-size: 16px;
            text-transform: uppercase;
            font-weight: 600;
            @extend .font-family--normal;
            letter-spacing: 2px;
            position: relative;
            color: $black;
            &:hover {
                color: $yellow;
            }
            @include media-breakpoint-up(lg) {
                color: $white;
                &:before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 3px;
                    bottom: 0;
                    left: 0;
                    background-color: $yellow;
                    visibility: hidden;
                    transform: scaleX(0);
                    transition: all 0.3s ease-in-out 0s;
                }
                &:hover:before {
                    visibility: visible;
                    -webkit-transform: scaleX(1);
                    transform: scaleX(1);
                }
            }
        }
    }
    .navbar-collapse {
        background: white;
        border: 1px solid rgba(0,0,0,.1);
        .nav-item {
          padding: 10px 0;
        }
      @include media-breakpoint-up(lg) {
          background: transparent;
          border: 0;
          .nav-item {
            padding: 0;
          }
      }
    }
    .navbar-toggler {
        background-color: $white;
        top: 0;
        left: 10px;
        z-index: 1;
        padding: 0.25rem;
        cursor: pointer;
        border: 1px solid rgba(0,0,0,.1);
        .navbar-toggler-icon {
            display: inline-block;
            width: 34px;
            height: 27px;
            vertical-align: middle;
            content: "";
            background: no-repeat center center;
            background-size: 100% 100%;
            background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
        }
    }
}
