#review {
  background-color: #151515;
  .section__title {
    font-size: 30px;
    color: $yellow;
    text-transform: uppercase;
  }
}

.review {
  color: $white;
  text-align: center;

  .review-desc {
    font-size: 20px;
    font-weight: 300;
    max-height: 200px;
    overflow-y: auto;
  }

  .review-name {
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}
