.review-header {
    &__image {
        outline: none;
        cursor: pointer;

        .client-image-wrapper {
            border-radius: 100%;
            .client-image {
                height: 128px;
                width: 128px;
                margin: 0 auto;
                background-size: contain;
                background-position: center center;
                background-size: 90%;
                background-color: $white;
                background-repeat: no-repeat;
                border-radius: 100%;
                transform: scale(0.75);
                transition: 0.5s transform;
            }
        }
        &.is-active {
            .client-image {
                transform: scale(1);
            }
        }
    }
}

.review-body {
    &__client {
        outline: none;

        .client-name {
          font-size: 32px;
        }
        .client-review {
          font-size: 24px;
        }
        .client-rating {
            color: $yellow;
            font-size: 24px;
        }
    }
}
